<header class="bg-surface/90 dark:bg-on-background/90 backdrop-blur-md shadow-sm fixed top-0 w-full z-50">
    <div
            class="flex justify-between items-center w-full px-margin-mobile md:px-margin-desktop py-4 max-w-7xl mx-auto">
        <div class="flex items-center gap-2">
            <img alt="WeGo Logo" class="h-8 md:h-10"
                 src="WeGo.png" />
            <span class="font-headline-md text-headline-md tracking-tighter text-primary">WeGo</span>
        </div>
        <nav class="hidden md:flex gap-lg items-center">
            <a class="text-on-surface-variant hover:text-primary-container transition-colors duration-30"
               href="index.html">Features</a>
            <a class="text-on-surface-variant hover:text-primary-container transition-colors duration-300"
               href="term.html">Term of Service</a>
            <a class="text-on-surface-variant hover:text-primary-container transition-colors duration-300"
               href="policy.html">Privacy Policy</a>
        </nav>
        <div class="flex items-center gap-md">
                <span
                        class="material-symbols-outlined text-primary scale-95 active:scale-90 transition-transform cursor-pointer">explore</span>
            <a href="https://expo.dev/accounts/longnguyen216/projects/my-app/builds/0dd3bbb0-7c60-4fde-944d-dffc7a59bed3" target="_blank">
                <button
                        class="bg-primary-container text-on-primary-container font-label-lg px-6 py-2 rounded-full scale-95 active:scale-90 transition-all hover:shadow-lg">Download
                </button>
            </a>
        </div>
    </div>
</header>